@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

html {
    height: 100%;
    background-image: url(images/background.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-family: Inter;
}

body {
	margin: 0 auto;
	max-width: 750px;
	padding: 2rem;
	border-radius: 6px;
	overflow-x: hidden;
	word-break: break-word;
	overflow-wrap: break-word;
	background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(8px) saturate(150%);

	/* Main body text */
	color: var(--nc-tx-2);
	font-size: 1.03rem;
	line-height: 1.5;
}

img {
    max-width: 100%;
    margin-right: 10px;
}

header {
    border-bottom: 2px solid rgba(255, 255, 255, 0.068);
}

h1 {
    display: flex;
    align-items:center;
}

h2 {
    border-bottom: 2px solid rgba(255, 255, 255, 0.068);
}

a {
    color: rgb(0, 68, 255);
}

a:hover {
    color: rgb(0, 110, 255);
}

#logo {
    width: 50px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 100%;
}

.contact-img {
    display: inline-block;
    margin-left: auto;
    margin-right: auto; 
    width: 50px;
    filter: invert(1);
} 

#images{
    text-align:center;
}